<header [class.top]="top" [style.height.px]="headerHeight" >
  <div #header  class="center" id="content">
    <a class="logo" routerLink="/">
      
      <img src="assets/scalableVectorGraphics/drk-logo.svg" alt="DRK Logo" [class.top]="top" [ngStyle]="{'height.px': headerHeight - (32 - topPercent * 16) }">
      <span class="ov" [class.top]="top" [ngStyle]="{'height.px': headerHeight - (16 - topPercent * 8), 'font-size.px': (24 - topPercent * 8) }">
        <div>
          Ortsverein
        </div>
        <div>
          Gärtringen
        </div>
      </span>
    </a>

    <div class="space"></div>
    <a class="nav-item" routerLink="/hvo" routerLinkActive="active">Test</a>
    <a class="nav-item" routerLink="/tags/helfer-vor-ort" routerLinkActive="active">HVO</a>
    <a class="nav-item" routerLink="/tags/angebote" routerLinkActive="active">Angebote</a>
    <a class="nav-item" routerLink="/tags/aktiv-werden" routerLinkActive="active">Aktiv Werden</a>
    <div class="space"></div>
  </div>
</header>