header {
  height: 56px;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 1px 3px rgba(243, 186, 186, 0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

header.top {
  /* height: 100px; */
  box-shadow: unset;
}

#content {
  height: 100%;
  padding-right: 32px;
  padding-left: 32px;
  max-width: 1000px;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  font-size: 22px;

}

header img {
  height: 100%;
}

.logo {
  
  display: flex;
  align-items: center;
  width: 360px;
  height: 100%;
}

.logo img {
  margin-top: 8px;
  margin-bottom: 8px;
  height: calc(100% - 16px);
  transition: all 0.2s ease-in-out;
}


.logo img.top {
  margin-top: 16px;
  margin-bottom: 16px;
  height: calc(100% - 32px);

}

.ov {
  padding-left: 8px;
  display: inline-block;
  font-size: 16px;

  transition: all 0.2s ease-in-out;
}

.ov.top {
  /* font-size: 24px; */
}

.space {
  flex-grow: 1;
}

.nav-item {
  margin-left: 16px;
  height: 32px;
  margin-top: 12px;
  margin-bottom: 12px;
}
