<div id="slider-outer" class="center">
  <div id="slider" #slider>
    <ng-template ngFor let-post [ngForOf]="feturedPosts">
      <a class="featured" [routerLink]="post.slug">
        <div class="info">
          <h2>{{ post.title }}</h2>
          <div>{{ post.meta_description }}</div>
        </div>
        <img
          [src]="post.feature_image"
          alt=""
          sizes="(max-width: 600px) 600px,(max-width: 1000px) 1000px, 1600px"
          srcset="{{post.feature_image | ghostSrcsetPipe}}"
        />
      </a>
    </ng-template>
  </div>
  <button aria-label="previous" id="slide-left" (click)="scrollLeft()">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z"/></svg>
  </button>
  <button aria-label="next" id="slide-right" (click)="scrollRight()">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z"/></svg>
  </button>
</div>
<div class="content center main">
  <h1 class="center">DRK Ortsverein Gärtringen</h1>
  <div id="subtitle">
    Das Deutsche Rote Kreuz rettet Menschen, hilft in Notlagen, bietet eine
    Gemeinschaft, steht den Armen und Bedürftigen bei und wacht über das
    humanitäre Völkerrecht – in Deutschland und in der ganzen Welt.
  </div>
  <div class="post-cards" id="main-offers" [class]="'items'+ welcome.length">
    <ng-container *ngFor="let post of welcome; let i = index">
      <a [routerLink]="'/' + post.slug" class="post-card">
        <img class="post-card-image" [src]="post.feature_image" alt="" srcset="{{post.feature_image | ghostSrcsetPipe}}" sizes="(max-width: 1000px) 400px, 600px" >
        <div class="post-card-content">
          <h2>{{post.title}}</h2>
          <div>{{post.excerpt}}</div>
        </div>
      </a>
      <div class="break" *ngIf="welcome.length == 4 && i == 1"></div>
    </ng-container>
  </div>
</div>

<div class="red content center">
  <a routerLink="/tag/aktuelles"><h2>Aktuelles aus dem Ortsverein</h2></a>
  <app-post-cards [posts]="news" [showDate]=true></app-post-cards>
</div>
<div class="content center">
  <h2>Termine</h2>
  <app-schedule></app-schedule>
</div>