<footer>
  <div class="center">

    <div>
      <ul>
        <li class="head">Mitwirken</li>
        <li><a routerLink="/foerdermitgliedschaft">Spenden</a></li>
        <li><a routerLink="/aktive-hilfe">Aktiv werden</a></li>
        <li><a routerLink="/freie-mitarbeit">Freie Mitarbeit</a></li>
      </ul>
    </div>
    <div>
      <ul>
        <li class="head">Informieren</li>
        <li><a routerLink="/tag/angebote">Angebote</a></li>
        <li><a routerLink="/tag/aktuelles">Aktuelles</a></li>
        
      </ul>
    </div>
    <div>
      <ul>
        <li class="head">Service</li>
        <li><a routerLink="/aktive-hilfe">Adressen</a></li>
        <li><a routerLink="/foerdermitgliedschaft">Kontakt</a></li>
        <li><a routerLink="/freie-mitarbeit">Sitemap</a></li>
        <li><a routerLink="/freie-mitarbeit">Datenschutz</a></li>
        <li><a routerLink="/freie-mitarbeit">Impressum</a></li>
      </ul>
    </div>
    <div>
      <ul class="head">
        <li>Social Media-Kanäle</li>
      </ul>
    </div>
  </div>
</footer>