<footer>
  <div class="center">

    <ul>
      <li class="head">Mitwirken</li>
      <li><a routerLink="/foerdermitgliedschaft">Spenden</a></li>
      <li><a routerLink="/aktive-hilfe">Aktiv werden</a></li>
      <li><a routerLink="/freie-mitarbeit">Freie Mitarbeit</a></li>
    </ul>
    <ul>
      <li class="head">Informieren</li>
      <li><a routerLink="/tag/angebote">Angebote</a></li>
      <li><a routerLink="/tag/aktuelles">Aktuelles</a></li>
      
    </ul>
    <ul>
      <li class="head">Service</li>
      <!-- <li><a routerLink="/aktive-hilfe">Adressen</a></li> -->
      <!-- <li><a routerLink="/foerdermitgliedschaft">Kontakt</a></li> -->
      <!-- <li><a routerLink="/freie-mitarbeit">Sitemap</a></li> -->
      <li><a routerLink="/datenschutzhinweise">Datenschutz</a></li>
      <li><a routerLink="/impressum">Impressum</a></li>
    </ul>
    <ul >
      <li class="head">Social Media-Kanäle</li>
      <li><a href="https://www.facebook.com/drkgaertringen/">Facebook</a></li>
    </ul>
  </div>
</footer>