
<app-header (menuClicked)="sidenav.toggle()" (closeMenuClicked)="sidenav.close()"></app-header>
<mat-sidenav-container id="sidenav">
  <mat-sidenav #sidenav>
      <ng-template ngFor let-item [ngForOf]="settings.navigation">
        <a class="nav-item" *ngIf="isSameOrigin.test(item.url)" [routerLink]="item.url" (click)="sidenav.toggle()">{{item.label}}</a>
        <a class="nav-item" *ngIf="!isSameOrigin.test(item.url)" [href]="item.url" (click)="sidenav.toggle()">{{item.label}}</a>
      </ng-template>
  </mat-sidenav>
  <mat-sidenav-content>
    <div [class.loading]="isLoading" id=main>
      <router-outlet></router-outlet>
    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>