@import './style-koenig.scss';
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  overflow-y: scroll;
  font-family:  'Open Sans',"Helvetica Neue", sans-serif;
}

app-post {
  background-color: white;
}

.center {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.content {
  background-color: white;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
}

a, a:active, a:link, a:visited {
  text-decoration: none;
  
  color: #002d55;
}